{% extends 'base.html' %} 

{% block content %}
<div class='container'> 
  <div class='row'>  
    {% for advertising in advertisings %}
     <div class='col-sm-4 col-md-4 col-lg-4 col-xl-4 my-2'> 
      <div class="card w-100 mx-auto shadow" href="#" style="width: 8rem; height: 14rem;">
        <img src="{{advertising.photo_main.url}}" style="height: 10rem;" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">{{advertising.description}}</h5>
          <p class="card-text">
            <a href="{% url 'advertising' advertising.id %}" class="stretched-link"></a>
          </p>
        </div>
      </div>  
     </div>
    {% endfor %}
  </div> 
</div>
{% endblock %}